<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Loja</title>
    <link rel="stylesheet" href="../static/css/initial.css">
</head>
<body>
    <header>
        <img class="logo" src="../static/images/Captura_de_tela_2023-09-10_185144-removebg-preview.png" alt="error">
        <a href="/login"><img src="../static/images/user_img_clean.png" class="login_button"></a>
        <a href="/carrinho"><img src="../static/images/carrin-removebg-preview.png" class="carrinho"></a>
        <a href="/login"><img src="../static/images/mais-removebg-preview.png" class="adicionar"></a>
    </header>
    <main>
        {% for produto in produtos %}
        
        <section class="produtos">
            <form method="get">
            <article class="produto">
                <img alt="{{ produto[1] }}" src="{{produto[3]}}">
                <h2>{{ produto[1] }}</h2>
                <p>Descrição do Produto</p>
                <p class="preco">R$ {{ produto[2] }}</p>
                <button class="comprar"><a href="{{produto[4]}}">Comprar</a></button>
            </article>
            </form>
        </section>
        {% endfor %}

    </main>
</body>
</html>
